<h1>About Page</h1>
<h2>We have been selling candy since Al Gore invented the internet. Whether you're young and looking for a sugar rush, or older but still deep down have a kid inside you, everyone can enjoy a little candy once in a while.</h2>
